# VSCode
.vscode/*
!.vscode/settings.json
!.vsode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/c_cpp_properties.json
*.code-workspace
*.o
whoAmI
.vscode

#Local History for VSCode
.history/
